<div class="container">
  <div
    class="group scroll-anchor"
    *ngFor="let layout of layouts">
    <div class="group-img" *ngIf="layout.groupImageUrl">
      <img
        [src]="layout.groupImageUrl"
        (click)="window.open(layout.groupImageUrl, '_blank')"
        alt="">
    </div>
    <div class="group-body">
      <div
        class="group-body-comment"
        *ngIf="getUnderline(layout) as underline"
      >{{underline}}</div>
      <app-order-item-poses
        class="group-body-poses"
        [layout]="layout"
        [keys]="keys"
        [saved]="saved"
      ></app-order-item-poses>

    </div>
  </div>
</div>
