<div class="footer">
  <div class="footer-info">
    <div class="footer-info-address">
      <p class="footer-info-address-line">White Fox Studio Limited</p>
      <p class="footer-info-address-line">Company Registration No: 0835568014372</p>
      <p class="footer-info-address-line wrap">Address: 103/53 Moo 6, Ratsada, Mueang Phuket, Phuket 83000, Thailand</p>
    </div>
    <div class="footer-info-mail">Contact: <a href="mailto:whitefoxsupport@gmail.com">whitefoxsupport@gmail.com</a> </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-copyright-link">
      <a href="/copyright">© 2026 White Fox Studio Limited. All Rights Reserved.</a>
    </div>
    <div class="footer-copyright-info">
      All images, designs, and content are protected by copyright and may not be used without permission.
    </div>
  </div>
</div>
