<div *ngIf="order">
  <app-order-header [student]="order.student"></app-order-header>
  <div class="order-items-container">
    <ng-container *ngFor="let item of order.items; trackBy: trackByFn">
      <app-order-item
        class="order-item"
        *ngIf="!isPackage(item)"
        [item]="item"
        [saved]="order.isReadOnly"
      ></app-order-item>
      <app-order-package
        class="order-item"
        *ngIf="isPackage(item)"
        [package]="item"
        [saved]="order.isReadOnly"
      ></app-order-package>

    </ng-container>
    <div
      class="order-button"
      *ngIf="!order.isReadOnly"
      [class.disabled]="sendDisabled | async"
      (click)="sendOrder()"
    >{{ 'sendOrderButton' | language}}</div>
  </div>
</div>
