<div class="container">
  <h3>INTELLECTUAL PROPERTY & COPYRIGHT NOTICE</h3>
  <p>All content displayed on this website, including but
    not limited to photographs of models, student photography samples,
    product images, layouts, graphic designs, logos, and text (the "Content"),
    is the exclusive intellectual property of White Fox Studio Limited and is
    protected by applicable copyright, trademark, and intellectual property laws
    of Thailand and international conventions.</p>
  <p>Strict Prohibition of Use: <br>
    Any unauthorized use of the Content is strictly prohibited.
    This includes, but is not limited to, copying, downloading,
    reproducing, distributing, modifying, displaying, publishing,
    or using any Content for commercial or non-commercial purposes
    without prior written consent from White Fox Studio Limited.</p>
  <p>Use of Content for AI training, datasets, or automated scraping
    is strictly prohibited.</p>
  <p>Enforcement:<br>
    White Fox Studio Limited reserves the right to take legal action,
    including claims for damages and injunctive relief, against any
    individual or entity that infringes upon its intellectual property rights.</p>
</div>
