.student {
  display: flex;
  background: rgba(136, 221, 222, 0.8);
  padding: 0.6rem 1.2rem;
  border: none;
  box-shadow: 0 4px 15px var(--shadow-color);
  color: var(--accent-primary);
  gap: 1.5rem;
  justify-content: center;

  &-name {
    font-size: 1.2rem;
  }

  &-class {
    font-size: 1.2rem;
  }
}
